
.sn-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .portfolio-body-grid{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
  }
  
  .portfolio-body-grid .item{
      flex: 1 1 400px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 23px;
      border: 1px solid white;
      overflow: hidden;
      position: relative;
      transition: all 1s ease;
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .portfolio-body-grid .item:hover .hover-item{
    bottom: 30px;
  }
  
  .portfolio-body-grid .item:hover{
    filter: brightness(1.3);
  }
  
  .portfolio-body-grid .hover-item{
    backdrop-filter: blur(10px);
    position: absolute;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    bottom: -100%;   
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: all .5s ease;
  }