* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  z-index: 1;
}

body {
  font-family: "Manrope", sans-serif;
  background: #000000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #000000;
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #434343;
  border-radius: 5px;
}

/* On hover, color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #4b4b4b;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gap-5 {
  gap: 5px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.gap-50 {
  gap: 50px;
}

.gap-60 {
  gap: 60px;
}

.mt-60 {
  margin-top: 60x;
}

.mt-80 {
  margin-top: 80x;
}

.mt-100 {
  margin-top: 100x;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.p-0 {
  padding: 0px 0px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-5 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-10 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hidden {
  display: none;
}

.no-underline {
  text-decoration-line: none;
}

.text-underline {
  text-decoration: underline;
}

.bg-none {
  background: none;
}

.border-none {
  border: none;
}

.border {
  border: #ffffff 2px solid;
}

.border-white {
  border-color: #ffffff;
}

.rounded-full {
  border-radius: 9999px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.focus-outline-none {
  outline: none;
}

.bg-gray {
  background-color: #434343;
}

.bg-blue {
  background-color: #0040DD;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #000000;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h-10 {
  height: 10px;
}

.h-500 {
  height: 500px;
}

.h-600 {
  height: 600px;
}

.max-h-500 {
  max-height: 500px;
}

.w-full {
  width: 100%;
}

ul {
  margin: 0;
  padding-inline-start: 0;
}
ul li {
  list-style-type: none;
}

button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

header nav button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #000000;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
}
header nav button:hover {
  background: var(--gray-borders, rgba(47, 43, 67, 0.02));
}

.intro,
.outro {
  position: relative;
  margin-bottom: 150px;
  z-index: 1;
  background: none;
}
.intro div,
.intro img,
.outro div,
.outro img {
  background: none;
}
.intro-text-container,
.outro-text-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
.intro-text-container p,
.outro-text-container p {
  font-size: 20px;
  width: 80%;
  margin-bottom: 50px;
  background: none;
}
.intro-text-container .button-to-top,
.outro-text-container .button-to-top {
  background: none;
  height: 70px;
  padding-left: 4px;
  padding-right: 4px;
}

.services h2 {
  margin-bottom: 50px;
}
.services .cards {
  display: flex;
  align-items: stretch;
  margin-bottom: 100px;
}
.services .cards .card {
  position: relative;
  border: #ffffff 1px solid;
  padding: 30px;
  width: 450px;
}
.services .cards .card h3 {
  margin-bottom: 80px;
}
.services .cards .card p {
  margin-bottom: 80px;
}
.services .cards .card button {
  position: absolute;
  bottom: 30px;
  border-radius: 9999px;
  border: 2px solid #ffffff;
  overflow: hidden;
  background: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 10px;
}
.services .scroll-bar {
  margin-bottom: 150px;
  height: 3px;
  background-color: #4b4b4b;
}
.services .scroll-bar .thumb {
  height: 100%;
  width: 30%;
  background-color: #ffffff;
}

.portfolio h2 {
  margin-bottom: 50px;
}
.portfolio .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  margin-bottom: 100px;
}
.portfolio .cards .card {
  border: #ffffff 1px solid;
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 16/9;
}
.portfolio .cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.light1 {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 30%;
  right: 0px;
  background: linear-gradient(90deg, #f4c4f3 0%, white 100%);
  z-index: 0;
  filter: blur(300px);
}

.light2 {
  position: absolute;
  width: 400px;
  height: 300px;
  bottom: 20%;
  left: 0px;
  background: linear-gradient(90deg, #f4c4f3 0%, white 100%);
  z-index: 0;
  filter: blur(300px);
}

@media (max-width: 640px) {
  .container {
    max-width: 360px;
  }
  .hidden {
    display: block;
  }
}
.spaced-container {
  padding: 100px;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 50px;
}

nav * {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

nav .nav-options-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav-options-container * {
  transition: all 0.5s ease;
}

.nav-options-container button:hover,
.nav-options-container a:hover {
  color: white;
}

nav .navlinks {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

.lang {
  border: 1px solid white;
  display: flex;
  gap: 5px;
  overflow: hidden;
}

.lang button {
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.sn-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio-body-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.portfolio-body-grid .item {
  flex: 1 1 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  border: 1px solid white;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-body-grid .item:hover .hover-item {
  bottom: 30px;
}

.portfolio-body-grid .item:hover {
  filter: brightness(1.3);
}

.portfolio-body-grid .hover-item {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 50px;
  bottom: -100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: all 0.5s ease;
}

.btn {
  width: 100px;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  display: flex;
  gap: 10px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: 200px;
  cursor: pointer;
}

.btn span {
  padding: 2px;
  border: 2px solid white;
  border-radius: 20px;
}

footer {
  margin-top: 100px;
  padding: 100px;
  border-top: 1px solid white;
}

footer .content {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

footer form {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer form input {
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  border-radius: 9999px;
  width: 100%;
}

footer .table {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

footer .table .tcol {
  display: flex;
  flex: 1 0 100px;
  flex-direction: column;
  gap: 10px;
}

.passive *,
.passive {
  color: rgba(255, 255, 255, 0.3);
}

.blue-btn {
  background: #0040DD;
  border: none;
}

.active {
  color: white;
}

@media (max-width: 900px) {
  .nav-options-container {
    display: none;
  }
  footer .content {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */